@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.Navbar {
  background-color: #8a2be2;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  outline: none;
  color: #fdff74 !important;
}

/* ... autres styles ... */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.links-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin-left: 20px;
  color: #fdff74;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #ffffff;
}

.works-link {
  margin-right: 20px;
}

a:hover {
  color: #ffffff !important;
}

a {
  color: #fdff74; 
}

.HeaderImg {
  width: 100px;
  height: auto;
}

.center-text-full {
  display: flex;
  align-items: center;
  justify-content: center;
} 

body {
  font-family: 'Inter', sans-serif;
  color: #232323;
} 

.btn-bg-purple {
  background-color: #8a2be2;
  color: #fdff74 !important;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  outline: none;
  padding: 0.6em;
}

.btn-small {
  width: 300px;
}

h1 {
  color :#8a2be2;
  font-family: 'Courier New', Courier, monospace;
}

.img-header-container {
  position: relative;
}

.img-header-content {
  position: relative;
  text-align: center;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  font-size: 2em;
}

.text-with-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.title-header {
  color: #ffffff;
  font-family: 'Inter', sans-serif; 
  font-size: 2em;
}